@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');


:root{

    --cor01: #050505;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-poesia: 'Sriracha', cursive;
    --fonte-titulo: 'Passion One',sans-serif;
}
*{
    margin: 0px;
    padding: 0px;
}

header{
    display: flex;
    background-color: var(--cor01);
    min-height: 150px;
    text-align: center;
    color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    
}
header > h1{
    font-family: var(--fonte-titulo);
    font-size: 3em;
    font-weight: bold 900;
}
header > p{
    font-family: var(--fonte-padrao);
}
main{
    max-width: 1000px;
    min-width: 300px;
}
main > p{
    font-family:  var(--fonte-poesia);
    width: 300px;
    padding: 50px 0px 30px 20px;
    text-align: left;

}
p{
    font-size: clamp(0.5em, 1em + 1vw, 1.8em);
}
article#flor{
     width: 95%;
    background-image: url(imagens/pexels-gosia-k-19523744.jpg);
    background-size: cover;
    background-attachment: fixed;
    padding: 50px 0px 50px 20px;
}

article > p{
    width: 250px;
    font-family: var(--fonte-poesia);
    font-size: 1.2em;
    padding: 10px;
    
    background-color: #0505055e;
    color: white;
}
article#folha{
    width: 95%;
    background-image: url(imagens/pexels-wallace-chuck-3728086.jpg);
    background-size: cover;
    background-attachment: fixed;
    padding: 50px 0px 50px 20px;
}
footer{
    background-color: var(--cor01);
    font-family: var(--fonte-padrao);
    text-align: center;
    padding: 5px;
    color: white;
}
footer > p{
    font-size: 1.2em;
}
a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
a:hover{
    text-decoration: underline;
}